langchain
langchain-chroma
langgraph
langchain-openai
langchain-google-genai
chromadb
pysqlite3-binary
streamlit
pypdf
beautifulsoup4
requests
python-dotenv
networkx
pyvis
matplotlib
loguru
tiktoken
ddgs
tenacity
google-generativeai
reportlab
langchain-text-splitters==0.0.1
