langchain
langchain-core
langchain-google-genai
langchain_chroma
langgraph
langchain-huggingface
langchain-openai
chromadb
pysqlite3-binary
streamlit
pypdf
beautifulsoup4
requests
python-dotenv
networkx
pyvis
matplotlib
loguru
tiktoken
ddgs
tenacity
google-generativeai
grpcio
grpcio-status
reportlab
langchain-text-splitters
